#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hiperia-ticker-text {
  font-size: 10rem;
}

@media (max-width: 640px) {
  .hiperia-ticker-text {
    font-size: 3rem;
  }
}